<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <ul>
                <li><a class='nav-brand' href="{% url 'index' %}">Brand</a></li>
                <li><a class='nav-link' href="{% url 'Basic_app:other' %}">Other</a></li>
                <li><a class='nav-link' href="{% url 'admin:index' %}">Admin</a></li>
            </ul>
        </div>
    </nav>
    {% block 'body_block' %}
    <div class="contianer">

    </div>
    {% endblock %}
</body>
</html>